* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Koulen', cursive;
    box-sizing: border-box;
}

header {
    text-align: center;
    color: white;
    background: rgb(43,35,170);
    background: linear-gradient(90deg, rgba(43,35,170,1) 0%, rgba(79,94,209,1) 14%, rgba(255,0,224,1) 86%);
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
}

header h3 {
    margin: 0 10px 10px 10px;
    /* padding: 50px; */
}

input, button {
    border-radius: 10px;
}

.container {
    width: 100%;
    margin: 0 auto;
    min-height: 150px;
    display: flex;
    flex-direction: column;
}

.top-section {
    align-items: center;
    justify-content:space-around;
}

.mid-section {
    width: 100%;
    /* margin: 0; */
}

.top-section button, .top-section input {
    padding: 2%;
    border: 1px solid grey;
    font-size: 1.4em;
    display: inline-block;
    margin-top: 10px;
}

.top-section input {
    text-align: center;
    color: grey;
}

.mid-section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mid-section button {
    padding: 15px;
    border: 1px solid grey;
    font-size: 1.4em;
    width: 40%;
}

.lower-section p {
    text-align: justify;
    padding: 0 20px 0 20px;
}

footer {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    background: rgb(43,35,170);
    background: linear-gradient(90deg, rgba(43,35,170,1) 0%, rgba(79,94,209,1) 14%, rgba(255,0,224,1) 86%);
}

@media screen and (min-width: 600px) {
    body {
        background-color: white;
    }

    .container {
        width: 80%;
        border: 2px solid black;
        background-color: #eaeaea;
        align-items: center;
        margin: 10px auto 10px auto;
        border-radius: 10px;
        box-shadow: 10px 5px 5px rgb(182, 182, 182);
    }

    .top-section {
        flex-direction: row;
        justify-content: space-around;
    }

    .mid-section {
        flex-direction: column;
    }

    .lower-section p {
        padding: 0 20px 0 20px;
    }

    .mid-section {
        margin-top: 0;
    }

    footer {
        margin-top: 5px;
        color: white;
    }
}


