* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    font-family: 'Koulen', cursive;
    box-sizing: border-box;
}

header {
    text-align: center;
    color: white;
    background: rgb(43,35,170);
    background: linear-gradient(90deg, rgba(43,35,170,1) 0%, rgba(79,94,209,1) 14%, rgba(255,0,224,1) 86%);
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: space-evenly;
}

header h3 {
    margin: 0 10px 10px 10px;
    /* padding: 50px; */
}

input, button {
    border-radius: 10px;
}

button:hover, input[type='submit']:hover {
    background-color: rgb(129, 52, 149);
    color: white;
}

.container {
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 0 auto;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#cancel_btn {
    padding: 10px;
}

#tag-list {
    padding: 25px;
}

.tag-selector {
    padding: 10px 15px 10px 15px;
    margin: 5px;
}

.selected {
    background-color: rgb(129, 52, 149);
    color: white;
}

#contact_form {
    display: flex;
    justify-content:space-around;
}

#contact_form input {
    padding: 10px;
}

#contact_form input:last-child {
    margin-left: 35px;
    padding: 15px;
    font-size: 1.4em;
}

#contact_form label {
    font-size: 1.4em;
    text-align: center;
}

#search {
    align-items: center;
    justify-content:space-around;
}

#search button, #search input {
    padding: 2%;
    border: 1px solid grey;
    font-size: 1.4em;
    display: inline-block;
    margin-top: 10px;
}

#search input {
    text-align: center;
    color: grey;
}

#contact_list {
    box-sizing: border-box;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px;
}

.button_container {
    display: flex;
    justify-content: space-evenly;
}

#contact_list button {
    padding: 10px;
    border: 1px solid grey;
    font-size: 1.2em;
    flex: 1 1 0;
}

.contact_box {
    /* border: 2px solid black;
    border-radius: 5px; */
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.lower-section p {
    text-align: justify;
    padding: 0 20px 0 20px;
}

footer {
    text-align: center;
    width: 100%;
    /* margin-top: 15px; */
    background: rgb(43,35,170);
    background: linear-gradient(90deg, rgba(43,35,170,1) 0%, rgba(79,94,209,1) 14%, rgba(255,0,224,1) 86%);
    flex-grow: 0;
}

@media screen and (min-width: 600px) {
    body {
        background-color: white;
    }

    .container {
        width: 80%;
        border: 2px solid black;
        background-color: #eaeaea;
        align-items: center;
        border-radius: 10px;
        box-shadow: 10px 5px 5px rgb(182, 182, 182);
    }

    #search {
        flex-direction: row;
        justify-content: space-around;
    }

    #contact_list {
        width: 80%;
        margin-top: 0;
        justify-content: flex-start;
    }

    footer {
        margin-top: 5px;
        color: white;
    }
}


